{% extends "base.html.twig" %}

{% block body %}

<div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">404</h1>
    <p class="lead">
      Désolé, cette page n'existe pas... <br>
      <a href="{{ path('main_index') }}">Cliquez ici</a> pour retourner à l'accueil !
    </p>
  </div>

{% endblock %}