{% extends 'base.html.twig' %}

{% block title %}Ton dashboard
{% endblock %}

{% block body %}
	<a href="{{ path('dashboard_add_plante') }}" class="btn btn-success">Ajouter une plante</a>
	<a href="{{ path('dashboard_propositions') }}" class="btn btn-success">Propositions en attente</a>
	{% include "partials/_liste_plantes.html.twig" %}

{% endblock %}
